{% extends 'movie_app/base.html' %}

{% block title %} Информация о режиссере - {{ object.first_name }} {{ object.last_name }}{% endblock %}

{% block content %}

    <h2>Режиссер</h2>
    <h3>Имя - {{ object.first_name }}</h3>
    <h3>Фамилия - {{ object.last_name }}</h3>
    <h3>Почта - {{ object.director_email }}</h3>
    <hr>
    <h3>Список фильмов</h3>
            <ul>
            {% for movie in director.movies.all %}
                 <li>{{ movie }}
                 </li>
            {% endfor %}
        </ul>


{% endblock %}